<ul id="context-menu" #contextMenu class="hidden">
    <li (click)="addImage()">Add Image</li>
    <li (click)="addText()">Add Text</li>
</ul>

<!-- Editor Section (hidden by default) -->
<div id="editor-wrapper" #editorWrapper class="hidden">
    <div class="top-buttons">
        <button class="cancel" (click)="discardChanges()">DISCARD CHANGES</button>
        <button class="save" (click)="saveChanges()">SAVE SITE DASHBOARD</button>
    </div>

    <div id="editor-container">
        <div class="action-bar">
            <div class="text-size-wrapper">
                <div class="text-size" data-name="Text Size">
                    <!-- Default visible icon -->
                    <div class="svg-default">
                        <svg width="60" height="32">
                            <use xlink:href="assets/icons.svg#text-size-default"></use>
                        </svg>
                    </div>
                    
                    <div class="size-dropdown">
                        <!-- Large size option -->
                        <div class="size-option" data-size="large" data-name="Large">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#text-size-large"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#text-size-replacement-large"></use>
                                </svg>
                            </template>
                        </div>

                        <!-- Medium size option -->
                        <div class="size-option" data-size="medium" data-name = "Medium">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#text-size-medium"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#text-size-replacement-medium"></use>
                                </svg>
                            </template>
                        </div>
                        
                        <!-- Small size option -->
                        <div class="size-option" data-size="small" data-name="Small">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#text-size-small"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32" viewBox="0 0 60 32" >
                                    <use xlink:href="assets/icons.svg#text-size-replacement-small"></use>
                                </svg>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bold" data-name="bold">
                <div class="svg-default">
                    <svg width="36" height="32">
                        <use xlink:href="assets/icons.svg#bold-icon"></use>
                    </svg>
                </div>
            </div>

            <svg id="dash1" width="1" height="12">
                <use xlink:href="assets/icons.svg#dash-icon"></use>
            </svg>
            
            <div class="italic" data-name="italic">
                <div class="svg-default">
                    <svg width="36" height="32">
                        <use xlink:href="assets/icons.svg#italic-icon"></use>
                    </svg>
                </div>
            </div>

            <svg id="dash2" width="1" height="12">
                <use xlink:href="assets/icons.svg#dash-icon"></use>
            </svg>

            <div class="alignment-wrapper">
                <div class="alignment" data-name="Horizontal Align" title="Align Text">
                    <div class="svg-default">
                        <svg width="60" height="32">
                            <use xlink:href="assets/icons.svg#align-default"></use>
                        </svg>
                    </div>

                    <div class="alignment-dropdown">
                        <!-- Left Align -->
                        <div class="align-option" data-align="left" data-name="Left">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#align-left"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#align-replacement-left"></use>
                                </svg>
                            </template>
                        </div>

                        <!-- Center Align -->
                        <div class="align-option" data-align="center" data-name="Center">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#align-center"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#align-replacement-center"></use>
                                </svg>
                            </template>
                        </div>

                        <!-- Right Align -->
                        <div class="align-option" data-align="right" data-name="Right">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#align-right"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#align-replacement-right"></use>
                                </svg>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <svg id="dash3" width="1" height="12">
                <use xlink:href="assets/icons.svg#dash-icon"></use>
            </svg>

            <div class="vertical-alignment-wrapper">
                <div class="vertical-alignment" data-name="Vertical Align">
                    <div class="svg-default">
                        <svg width="60" height="32">
                            <use xlink:href="assets/icons.svg#valign-default"></use>
                        </svg>
                    </div>

                    <div class="vertical-align-dropdown">
                        <!-- Top Align Option -->
                        <div class="v-align-option" data-valign="top" data-name = "Top">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#valign-top"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#valign-replacement-top"></use>
                                </svg>
                            </template>
                        </div>

                        <!-- Middle Align Option -->
                        <div class="v-align-option" data-valign="middle" data-name="Middle">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#valign-middle"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#valign-replacement-middle"></use>
                                </svg>
                            </template>
                        </div>
                        
                        <!-- Bottom Align Option -->
                        <div class="v-align-option" data-valign="bottom" data-name="Bottom">
                            <svg class="svg-default" width="32" height="32">
                                <use xlink:href="assets/icons.svg#valign-bottom"></use>
                            </svg>
                            <template class="replacement-icon">
                                <svg width="60" height="32">
                                    <use xlink:href="assets/icons.svg#valign-replacement-bottom"></use>
                                </svg>
                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <svg id="dash4" width="1" height="12">
                <use xlink:href="assets/icons.svg#dash-icon"></use>
            </svg>


            <!--*****************************************************-->
            <!-- Text Color SVG + Input -->
            <div class="text-color" data-name="Text Color">
              <div class="svg-default" (click)="handleColorIconClick('text')">
                <svg #textColorIcon width="36" height="32">
                  <use xlink:href="assets/icons.svg#text-color-icon"></use>
                </svg>
              </div>
            </div>
            <input
              *ngIf="showTextColorInput"
              type="color"
              [(ngModel)]="selectedColor"
              (change)="applyTextColor()"
              class="text-color-input" />

            <!-- Background Fill SVG + Input -->
            <div class="backcolor" data-name="Fill Color">
              <div class="svg-default" (click)="handleColorIconClick('background')">
                <svg width="40" height="32">
                  <use xlink:href="assets/icons.svg#backcolor-icon"></use>
                </svg>
              </div>
            </div>
            <input
              *ngIf="showBackColorInput"
              type="color"
              [(ngModel)]="selectedColor"
              (change)="applyBackgroundColor()"
              class="body-color-input" />

            <!-- Border Fill SVG + Input -->
            <div class="border-fill" data-name="Border Color">
              <div class="svg-default" (click)="handleColorIconClick('border')">
                <svg width="40" height="32">
                  <use xlink:href="assets/icons.svg#border-fill-icon"></use>
                </svg>
              </div>
            </div>
            <input
              *ngIf="showBorderColorInput"
              type="color"
              [(ngModel)]="selectedColor"
              (change)="applyBorderColor()"
              class="border-color-input" />


            <!--*****************************************************-->

            <svg id="dash5" width="1" height="12">
                <use xlink:href="assets/icons.svg#dash-icon"></use>
            </svg>

            <div class="linking" data-name="Insert Link">
                <div class="svg-default" (click)="insertLink()">
                    <svg width="44" height="32">
                        <use xlink:href="assets/icons.svg#link-icon"></use>
                    </svg>
                </div>
            </div>

            <svg id="dash6" width="1" height="12">
                <use xlink:href="assets/icons.svg#dash-icon"></use>
            </svg>

            <div class="deleting" data-name="Delete">
                <div class="svg-default">
                    <svg width="44" height="32">
                        <use xlink:href="assets/icons.svg#delete-icon"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="text-area-container" #textAreaContainer>
            <svg class="handle" width="16" height="16">
                <use xlink:href="assets/icons.svg#handle-icon"></use>
            </svg>

            <div class="editable-div" #editableDiv contenteditable="true" [attr.data-placeholder]="'Type your text here'"></div>

            <svg #resizer class="resizer" width="16" height="16">
                <use xlink:href="assets/icons.svg#resizer-icon"></use>
            </svg>
        </div>
    </div>
</div>


